# =========================================================
#  GITIGNORE FOR MLOPS CW2 PROJECT
# =========================================================

# -------------------------
# Python cache files
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual environment
# -------------------------
venv/
env/

# -------------------------
# Jupyter Notebook checkpoints
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS / Editor junk files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Project Outputs (Do NOT Upload)
# -------------------------
outputs/
mlruns/
logs/

# -------------------------
# Dataset (Not Allowed to Upload)
# -------------------------
data/

# -------------------------
# Temporary images / examples
# -------------------------
temp.jpg
tmp_input.jpg
sample_images/
*.png

# -------------------------
# Model files
# -------------------------
*.h5
*.keras
*.json

# -------------------------
# Docker
# -------------------------
*.log

# -------------------------
# Reports or unnecessary big files
# -------------------------
*.pdf
*.zip

# -------------------------
# Local config
# -------------------------
*.cfg
*.local
